.*
__pycache__/
local_dvc_storage
logs
htmlcov
mlruns
check_coverage.py
coverage.xml
dvc.yaml
metrics.csv
mlflow.db
model_store
src/predict.py
src/setup_data.py
src/train.py
src/validate.py
src/training
src/mlops.egg-info